#map {
  height: 100%;
  windows: 80%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color:white;
  background-color:black;
}

#list{
  position: fixed;
  top:0;
  background:black;
  height:100%;
  opacity:0.8;
  padding:20px;
  z-index: 999;
}

.header{
  font-weight: bold;
}

.header, .title{
  text-transform:uppercase;
  font-size:15px;
}

ul{
  list-style-type: none;
  padding:0;
}

.business-link{
  color:white;
}

.info_tip{
  color:black;
}

.error {
  color:red;
}

@media screen and (max-width:767px) {
  #list{
    position: static;
    width:100%;
    height:auto;
  }

  .header, .title{
    font-size:12px;
  }

  #map {
    height: 200px !important;
    windows: 100%;
  }

}